<component name="ArtifactManager">
  <artifact type="war" name="spring-transfer:war">
    <output-path>$PROJECT_DIR$/spring-transfer/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-transfer</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-transfer-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-transfer:war exploded" />
    </root>
  </artifact>
</component>